.main-container {
  .container--section {
    .section--header {
      display: flex;
      padding: 2rem;
      min-height: 440px;
      position: relative;
      margin-bottom: 2rem;
      align-items: center;
      flex-direction: column;
      background-size: cover;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      border-bottom-right-radius: 50px 20px;
      border-bottom-left-radius: 50px 20px;
      background-image: url(../../assets/banner.jpg);

      .header--content {
        display: flex;
        color: white;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .header--icon {
          font-size: 3.5rem;
        }
      }

      .MuiCard-root {
        top: 93%;
        width: 90%;
        z-index: 999;
        overflow: visible;
        position: absolute;
      }

      .MuiFormControl-root {
        min-width: 100%;
        .MuiOutlinedInput-root {
          padding: 1rem;
          .MuiOutlinedInput-input {
            padding: 0;
          }
        }
      }
    }

    .section--bottom {
      padding: 2rem;
      margin-top: 560px;
      .MuiList-root {
        max-width: 100%;
      }
    }
  }
}
